<!--
 Group Name: Modern Developers
Student Name - Student ID
1. Meetkumar Patel - 301220141
2. Prit Patel - 301219548
3. Kinjalkumari Dhimmar - 301239901
4. Pratiksinh Makwana - 301219863
5. Sohyeon Song - 301145311
-->

<% if (title=="About" ) { %>
  <div class="container-fluid-md">
    <div class="container">
      <div class="row">
        <div class="col-md-12 about-text">
          <h1>
            <P>Modern Developers</P>
          </h1>
          
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 "><img src="/images/team_logo.png" style="width: 300px; border-radius: 5px;"></div>
        <div class="col-md-6 about-para">
          <p>
            <ol>
              <li>Meetkumar - Project Manager, Web Designer, UI Programmer</li>
              <li>Prit - Lead Software Engineer, Database Programmer</li>
              <li>Kinjalkumari - Web Designer, UI Programmer</li>
              <li>Pratiksinh - Security Programmer, Database Programmer</li>
              <li>Sohyeon - UI Programmer</li>
            </ol>
          <p style="margin-top: 40px; font-size: large;">
            
          </p>
        </div>
      </div>

    </div>

  </div>

  <%} else { %>

    <% } %>