<!--
 Group Name: Modern Developers
Student Name - Student ID
1. Meetkumar Patel - 301220141
2. Prit Patel - 301219548
3. Kinjalkumari Dhimmar - 301239901
4. Pratiksinh Makwana - 301219863
5. Sohyeon Song - 301145311
-->

<% if (title == "Home") { %>
    <div class="img" > 
    </div> 
    <div class="home-text" style="color: black;" text-align: center> 
      <r><p color=" white">Welcome to my Survey page</p></r>
      <!-- <span><p>  </p></span> -->
    </div>
    
    <div>
      <button type="button" class="btn btn-dark button" onclick="location.href='/survey-list'">Go to Survey</button>
    </div>
    
    <%} else { %>
      
    <% } %>